body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 24px;
    margin-top: 100;
  }

p {
  font-size: 16px;
  margin-top: 100;
}
p.header_text_2 {
  line-height: 10px;
}
a,
span {
    display: block;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin-top: 50px;
  }

  p {
    font-size: 12px;
    margin-top: 50px;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons a {
    width: 100%;
  }
}
