body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 24px;
    margin-top: 100;
  }

p {
  font-size: 16px;
  margin-top: 100;
}

a,
span {
    display: block;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
  body{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: stretch;
  }

  h1 {
    font-size: 13px;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
  }

  p {
    font-size: 12px;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
  }

  .header_text{
    margin-bottom: 15px;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons a {
    width: 100%;
  }
}
